/* You can add global styles to this file, and also import other style files */

// Angular Material
@use "@angular/material" as mat;

$default-custom-level: mat.define-typography-level(
  $font-family: "Roboto, " Helvetica Neue ", sans-serif",
  $font-weight: 400,
  $font-size: 1.1rem,
  $line-height: 1.5,
  $letter-spacing: normal
);

$default-custom-config: mat.define-typography-config(
  $body-1: $default-custom-level,
  $button: $default-custom-level
);

@include mat.core($default-custom-config);

// Rest
:root {
  --color-primary: #673ab7;
  --color-accent: #ffd740;
  --color-warn: #f44336;
}

html, body { height: 100% !important; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif !important; }

.color-primary {
  color: var(--color-primary);
}

.bg-color-primary {
  background-color: var(--color-primary);
}

.color-accent {
  color: var(--color-accent);
}

.bg-color-primary {
  background-color: var(--color-accent);
}

.color-accent {
  color: var(--color-warn);
}

.bg-color-primary {
  background-color: var(--color-warn);
}

.color-light {
  color: #f8f9fa;
}

.navBrand {
  font-size: 2rem;
}

spinner-overlay {
  height: 100vh !important;
  width: 100% !important;
  background-color: rgba(0, 0, 0, 0.286) !important;
  z-index: 998 !important;
  top: 0 !important;
  left: 0 !important;
  position: fixed !important;
}

mat-spinner {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  -moz-transform: translateX(-50%) translateY(-50%) !important;
  -webkit-transform: translateX(-50%) translateY(-50%) !important;
  transform: translateX(-50%) translateY(-50%) !important;
  z-index: 999 !important;
}
