// Use sass key-value pairs
@use 'sass:map';

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$TrackLott-primary: mat.define-palette(mat.$teal-palette);
$TrackLott-accent: mat.define-palette(mat.$orange-palette, A200, A100, A400);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$TrackLott-theme: mat.define-dark-theme((
  color: (
    primary: $TrackLott-primary,
    accent: $TrackLott-accent
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.core-theme($TrackLott-theme);
@include mat.button-theme($TrackLott-theme);
@include mat.button-toggle-theme($TrackLott-theme);
@include mat.card-theme($TrackLott-theme);
@include mat.checkbox-theme($TrackLott-theme);
@include mat.table-theme($TrackLott-theme);
@include mat.datepicker-theme($TrackLott-theme);
@include mat.divider-theme($TrackLott-theme);
@include mat.form-field-theme($TrackLott-theme);
@include mat.list-theme($TrackLott-theme);
@include mat.menu-theme($TrackLott-theme);
@include mat.paginator-theme($TrackLott-theme);
@include mat.progress-spinner-theme($TrackLott-theme);
@include mat.select-theme($TrackLott-theme);
@include mat.sidenav-theme($TrackLott-theme);
@include mat.toolbar-theme($TrackLott-theme);
@include mat.snack-bar-theme($TrackLott-theme);

//Override Bootstrap theme colors in accordance with Angular Material theme
$mat-color-config: mat.get-color-config($TrackLott-theme);
$primary-palette: map.get($mat-color-config, 'primary');
$secondary-palette: map.get($mat-color-config, 'accent');
$danger-palette: map.get($mat-color-config, 'warn');

// Bootstrap custom theme
$theme-colors: (
  "primary": mat.get-color-from-palette($primary-palette, 500),
  "secondary": mat.get-color-from-palette($secondary-palette, 500),
  "danger": mat.get-color-from-palette($danger-palette, 500),
  "info": mat.get-color-from-palette(mat.$cyan-palette, 500)
);

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

/* Global Styles */
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

//Mat-Progress-Spinner styles
.spinnerOverlay {
  position: fixed !important;
  display: block !important;
  background-color: rgba(0, 0, 0, 0.286) !important;
  z-index: 990 !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  min-height: 100vh !important;
}

mat-spinner {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  -moz-transform: translateX(-50%) translateY(-50%) !important;
  -webkit-transform: translateX(-50%) translateY(-50%) !important;
  transform: translateX(-50%) translateY(-50%) !important;
  z-index: 999 !important;
}

//Lotto number styles
.gameNumber {
  width: 2.8rem !important;
  height: 2.8rem !important;
  display: inline-block !important;
  line-height: 2.8rem !important;
  min-height: 2.8rem !important;
  min-width: 2.8rem !important;
  -webkit-border-radius: 1.5rem !important;
  -moz-border-radius: 1.5rem !important;
  -ms-border-radius: 1.5rem !important;
  border-radius: 1.5rem !important;
  text-align: center !important;
  font-weight: 600 !important;
  margin-top: 0.5rem !important;
  margin-right: 0.5rem !important;
  position: relative !important;
  padding: 0.55rem !important;
  border: 0 !important;
  font: 1.5rem "Anonymous Pro", monospace !important;
}

.gameNumberPrimary {
  color: var(--bs-light) !important;
  background-color: var(--bs-primary) !important;
}

.gameNumberHollow {
  color: var(--bs-dark) !important;
  background-color: var(--bs-gray-300) !important;
}

//Custom styles in bootstrap format
.mt-5rem {
  margin-top: 5rem !important;
}
