// Import Angular Material & Bootstrap customisations
@import "./customize";

// GLOBAL STYLES
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

//Mat-Progress-Spinner styles
.spinnerOverlay {
  position: fixed !important;
  display: block !important;
  background-color: rgba(0, 0, 0, 0.286) !important;
  z-index: 990 !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  min-height: 100vh !important;
}

mat-spinner {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  -moz-transform: translateX(-50%) translateY(-50%) !important;
  -webkit-transform: translateX(-50%) translateY(-50%) !important;
  transform: translateX(-50%) translateY(-50%) !important;
  z-index: 999 !important;
}

//Lotto number styles
.gameNum {
  width: 2.8rem !important;
  height: 2.8rem !important;
  display: inline-block !important;
  line-height: 2.8rem !important;
  min-height: 2.8rem !important;
  min-width: 2.8rem !important;
  -webkit-border-radius: 1.5rem !important;
  -moz-border-radius: 1.5rem !important;
  -ms-border-radius: 1.5rem !important;
  border-radius: 1.5rem !important;
  text-align: center !important;
  font-weight: 600 !important;
  margin: 0.2rem !important;
  position: relative !important;
  padding: 0.7rem 0.55rem !important;
  border: 0 !important;
  font: 1.4rem "Anonymous Pro", monospace !important;
  overflow: hidden !important;
}

.gameNumPrimary {
  color: var(--bs-light) !important;
  background-color: var(--bs-primary) !important;
}

.gameNumPrimaryOutline {
  color: var(--bs-light) !important;
  border: 0.06rem solid var(--bs-primary) !important;
}

.gameNumSecondary {
  color: var(--bs-dark) !important;
  background-color: var(--bs-secondary) !important;
}

.gameNumSecondaryOutline {
  color: var(--bs-dark) !important;
  border: 0.06rem solid var(--bs-secondary) !important;
}

.gameNumGrey {
  color: var(--bs-dark) !important;
  background-color: var(--bs-gray-300) !important;
}

.gameNumGreyOutline {
  color: var(--bs-gray-500) !important;
  border: 0.06rem solid var(--bs-gray-500) !important;
}

.gameNumMatchPrimary {
  color: var(--bs-light) !important;
  background-color: var(--bs-primary) !important;
}

.gameNumMatchGrey {
  color: var(--bs-dark) !important;
  background-color: var(--bs-gray-300) !important;
}

.gameNumNotMatch {
  background-color: transparent !important;
}

//Custom styles in bootstrap format
.mt-5rem {
  margin-top: 5rem !important;
}
