.shape-lotto-num {
  display: inline-flex;
  flex-direction: column;
  border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  width: 2.5rem !important;
  min-width: 2.5rem !important;
  height: 2.5rem !important;
  min-height: 2.5rem !important;
  justify-content: center !important;
  align-items: center !important;
  justify-items: center !important;
  align-content: center !important;
  padding: 0 !important;
  text-align: center !important;
}

.lotto-num {
  font-family: RobotoMonoMedium, monospace !important;
  width: fit-content !important;
  font-size: 18px !important;
  line-height: 1 !important;
  color: white !important;
}

.winning-lotto-num {
  background-color: #673ab7 !important;
}

.supp-lotto-num {
  background-color: #546E7A !important;
}

mat-basic-chip:not(:last-child) {
  margin-right: 0.15rem !important;
}

.winning-lotto-num:last-child {
  margin-right: 1rem !important;
}
