<mat-card class="mat-elevation-z6">
  <mat-card-title>Login</mat-card-title>
  <mat-divider class="my-3" inset></mat-divider>
  <mat-card-content>

    <form (ngSubmit)="onLoginSubmit()" [formGroup]="loginForm" class="row">
      <mat-form-field appearance="outline">
        <mat-label>Email Address</mat-label>
        <input email class="mat-typography" formControlName="email" matInput
               pattern="(?:^|\s)[\w!#$%&'*+/=?^`{|}~-](\.?[\w!#$%&'*+/=?^`{|}~-]+)*@\w+[.-]?\w*\.[a-zA-Z]{2,3}\b"
               required type="email">
        <mat-error>Invalid email address</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput placeholder="Enter your password" required type="password">
        <mat-error>Invalid password</mat-error>
      </mat-form-field>

      <mat-checkbox name="rememberMe">Remember Me</mat-checkbox>
      <button class="w-50 mb-3 mx-auto text-uppercase" color="primary" mat-flat-button type="submit">Login</button>
    </form>
    <div class="row g-2 mb-3 text-center">
      <a class="col-12 link-primary text-decoration-none" [routerLink]="appRoute.registerAbs">Register</a>
      <a class="col-12 link-primary text-decoration-none" [routerLink]="appRoute.forgotAbs">Forgot password</a>
    </div>

  </mat-card-content>
</mat-card>
