.mat-column-primaryNumbersColumn {
  flex: 5;
}

.mat-column-powerballColumn, .mat-column-drawDateColumn {
  flex: 1;
}

mat-cell.mat-column-primaryNumbersColumn, mat-cell.mat-column-powerballColumn, mat-cell.mat-column-drawDateColumn {
  align-self: start;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

mat-cell.mat-column-drawDateColumn {
  padding-top: 0.5rem;
}
