<ng-container *ngIf="(appUser$ | async)">
  <mat-card *ngIf="matchedCombosList.length < 1 && lottoResult">
    <mat-card-title>No Matching Combinations Found</mat-card-title>
    <mat-divider class="my-3" inset></mat-divider>
    <mat-card-content>
      <span>No Combinations match this lotto draw. To add more combinations, please click on the button below.</span>
    </mat-card-content>
    <mat-card-actions align="end">
      <button color="primary" mat-flat-button [routerLink]="pathRoute.addAbs" type="button">Add Combinations</button>
    </mat-card-actions>
  </mat-card>

  <ng-container *ngIf="matchedCombosList.length > 0">
    <ng-container *ngIf="(isHandset$ | async); else notHandset">
      <ng-container *ngTemplateOutlet="paginator"></ng-container>
      <mat-card *ngFor="let combo of matchedCombosList" class="mb-2">
        <mat-card-title>{{combo.dateAdded}}</mat-card-title>
        <mat-card-content>
          <!--          Print primary numbers-->
          <ng-container *ngTemplateOutlet="primaryNumsTemplate; context: {primary: combo}"></ng-container>
          <!--          Print secondary numbers (if any)-->
          <ng-container *ngIf="combo.secondaryNumbers && combo.secondaryNumbers.length > 0">
            <ng-container *ngTemplateOutlet="secondaryNumsTemplate; context: {secondary: combo}"></ng-container>
          </ng-container>
        </mat-card-content>
      </mat-card>
    </ng-container>

    <ng-template #notHandset>
      <div>
        <mat-table [dataSource]="tableDataSource" class="w-100">
          <ng-container [matColumnDef]="gc.tablePrimaryNumsCol">
            <mat-header-cell *matHeaderCellDef class="fs-6">Main Numbers</mat-header-cell>
            <mat-cell *matCellDef="let combo" class="flex-wrap">
              <!--          Print primary numbers-->
              <ng-container *ngTemplateOutlet="primaryNumsTemplate; context: {primary: combo}"></ng-container>
            </mat-cell>
          </ng-container>

          <ng-container *ngIf="lottoResult && lottoResult.productId.toLowerCase() === lottoName.powerballId"
                        [matColumnDef]="gc.tablePowerballCol">
            <mat-header-cell *matHeaderCellDef class="fs-6">Powerball</mat-header-cell>
            <mat-cell *matCellDef="let combo">
              <!--          Print secondary numbers (if any)-->
              <ng-container *ngTemplateOutlet="secondaryNumsTemplate; context: {secondary: combo}"></ng-container>
            </mat-cell>
          </ng-container>

          <ng-container [matColumnDef]="gc.tableDrawDateCol">
            <mat-header-cell *matHeaderCellDef class="fs-6">Draw Date</mat-header-cell>
            <mat-cell *matCellDef="let combo">{{combo.dateAdded}}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="tableColumns; sticky: true"></mat-header-row>
          <mat-row *matRowDef="let row; columns: tableColumns;"></mat-row>
        </mat-table>

        <ng-container *ngTemplateOutlet="paginator"></ng-container>
      </div>
    </ng-template>

    <ng-template #paginator>
      <mat-paginator (page)="onPageEvent()" [length]="MatchedCombosTotal" [pageSizeOptions]="[10, 20, 40, 80]"
                     [pageSize]="10" aria-label="Matching Combinations"></mat-paginator>
    </ng-template>
  </ng-container>
</ng-container>

<ng-template #primaryNumsTemplate let-combo="primary">
  <div *ngFor="let num of combo.primaryNumbers" class="gameNum gameNumPrimaryOutline"
       [ngClass]="lottoResult.primaryNumbers.includes(num) ? 'gameNumMatchPrimary': 'gameNumNotMatch'">{{num}}</div>
</ng-template>

<ng-template #secondaryNumsTemplate let-combo="secondary">
  <div *ngFor="let num of combo.secondaryNumbers" class="gameNum gameNumGreyOutline"
       [ngClass]="lottoResult.secondaryNumbers.includes(num) ? 'gameNumMatchGrey' : 'gameNumNotMatch'">{{num}}</div>
</ng-template>
