# My Ignores
**/.idea
**/.vscode

**/launchSettings.json
**/appsettings.Development.json
**/appsettings.Production.json
**/bin
**/obj
**/wwwroot
/Release

**/node_modules
**/.angular
**/bootstrap
**/environment.prod.ts
