<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #navDrawer [attr.role]="'dialog'" mode="over" opened="false" fixedInViewport="false">

    <ng-container *ngIf="(isHandset$ | async)">
      <mat-toolbar color="primary">TrackLott</mat-toolbar>
      <mat-nav-list>
        <a [routerLink]="appRoute.homeAbs" mat-list-item>Home</a>
        <a [routerLink]="appRoute.addAbs" mat-list-item>Add</a>
        <a [routerLink]="appRoute.playAbs" mat-list-item>Play</a>
        <a [routerLink]="appRoute.termsAbs" mat-list-item>Terms</a>
        <a [routerLink]="appRoute.licenseAbs" mat-list-item>License</a>
        <mat-divider></mat-divider>
        <ng-container *ngIf="!userLoggedIn; else sideLinkNotShow">
          <a [routerLink]="appRoute.registerRel" mat-list-item>Register</a>
          <a [routerLink]="appRoute.loginRel" mat-list-item>Login</a>
        </ng-container>
        <ng-template #sideLinkNotShow>
          <a [routerLink]="appRoute.accountRel" mat-list-item>Profile</a>
          <a (click)="logout()" mat-list-item>Logout</a>
        </ng-template>
      </mat-nav-list>
    </ng-container>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="mat-elevation-z6 main-mat-toolbar" color="primary">

      <button (click)="navDrawer.toggle()" *ngIf="(isHandset$ | async)" aria-label="Toggle Sidenav" mat-icon-button
              type="button">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <a [routerLink]="appRoute.homeAbs" class="navBrand" color="accent" mat-button>TrackLott</a>

      <ng-container *ngIf="!(isHandset$ | async)">
        <a [routerLink]="appRoute.homeAbs" mat-button>Home</a>

        <a [routerLink]="appRoute.addAbs" mat-button>Add</a>

        <a [routerLink]="appRoute.playAbs" mat-button>Play</a>

        <span class="matSpacer"></span>

        <ng-container *ngIf="!userLoggedIn; else linkNotShow">
          <a [routerLink]="appRoute.loginRel" mat-button>Login</a>

          <a [routerLink]="appRoute.registerRel" mat-button>Register</a>
        </ng-container>

        <ng-template #linkNotShow>
          <a [routerLink]="appRoute.accountRel" mat-button>Account</a>

          <a (click)="logout()" mat-button>Logout</a>
        </ng-template>

        <button [matMenuTriggerFor]="terms" mat-icon-button>
          <mat-icon>expand_circle_down</mat-icon>
        </button>

        <mat-menu #terms="matMenu">
          <a [routerLink]="appRoute.termsAbs" mat-menu-item>Terms of Use</a>

          <a [routerLink]="appRoute.licenseAbs" mat-menu-item>License</a>
        </mat-menu>
      </ng-container>
    </mat-toolbar>

    <ng-content></ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>
