<mat-card class="row col-xl-8 mx-auto mb-3 mat-elevation-z6">
  <mat-card-title>Register</mat-card-title>
  <mat-divider class="my-3" inset></mat-divider>
  <mat-card-content>
    <form (ngSubmit)="onSubmit(ngFormObj)" #ngFormObj="ngForm">

      <div class="row">
        <div class="col-12 col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Username</mat-label>
            <input ngModel matInput required name="username" type="text" placeholder="Ex. user123">
            <mat-error>Invalid username</mat-error>
          </mat-form-field>
        </div>
        <div class="col-12 col-md-6">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Password</mat-label>
            <input ngModel matInput required name="password" type="password" placeholder="a-z A-Z 0-9">
            <mat-error>Invalid password</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Given Name</mat-label>
            <input ngModel matInput required name="givenName" type="text" placeholder="e.g. John">
            <mat-error>Invalid given name</mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Surname</mat-label>
            <input ngModel matInput required name="surname" type="text" placeholder="e.g. Smith">
            <mat-error>Invalid surname</mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Date of Birth</mat-label>
            <input ngModel matInput required name="dob" [matDatepicker]="dobPicker" placeholder="dd/mm/yyyy">
            <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
            <mat-datepicker #dobPicker></mat-datepicker>
            <mat-error>Invalid date</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Email address</mat-label>
            <input ngModel matInput email required name="email" type="email" placeholder="user@example.com">
            <mat-error>Invalid email</mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Country</mat-label>
            <mat-select ngModel required name="country" aria-label="Select Country">
              <mat-option *ngFor="let country of countries" value="{{country.toLowerCase()}}">{{country}}</mat-option>
            </mat-select>
            <mat-error>Invalid country</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-12">
          <mat-checkbox #termsCheck ngModel required="true" name="termsCheck" color="primary">
            Agree to
            <a routerLink="/terms"
               [ngStyle]="{'color': (ngFormObj.submitted && !termsCheck.checked)? 'red': ''}">
              terms and conditions
            </a>
          </mat-checkbox>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-8 col-md-4 mx-auto">
          <button mat-flat-button class="w-100" color="primary" type="submit">Register</button>
        </div>
      </div>

    </form>
  </mat-card-content>
</mat-card>
