<mat-card class="row col-xl-9 mx-auto mb-3 mat-elevation-z6">
  <mat-card-title>Delta System</mat-card-title>
  <mat-divider inset class="my-3"></mat-divider>
  <mat-card-content>
    <div class="mb-3">
      <p>Pick a number</p>
      <ng-container *ngFor="let num of deltaNums[0]; index as dex">
        <ng-container
          *ngTemplateOutlet="rowOne; context: {$implicit: {currRow: 0, actualNum: num, numDex: dex}}"></ng-container>
      </ng-container>
    </div>
    <div class="mb-3">
      <p>Pick two numbers</p>
      <ng-container *ngFor="let num of deltaNums[1]; index as dex">
        <ng-container
          *ngTemplateOutlet="rowTwo; context: {$implicit: {currRow: 1, actualNum: num, numDex: dex}}"></ng-container>
      </ng-container>
    </div>
  </mat-card-content>
</mat-card>

<ng-template #rowOne let-options>
  <button mat-mini-fab type="button" class="m-1"
          [color]="rowOnePickedNum > 0 && rowOnePickedNum === options.numDex + 1 ? 'warn': 'primary'"
          (click)="onClickBtn($event, options.currRow)"
          [disabled]="rowOnePickedNum > 0 && rowOnePickedNum !== options.numDex + 1">{{options.actualNum}}</button>
</ng-template>

<ng-template #rowTwo let-options>
  <button mat-mini-fab type="button" class="m-1"
          [color]="rowTwoPickedNums.includes(options.numDex + 1) ? 'warn': 'primary'"
          (click)="onClickBtn($event, options.currRow)"
          [disabled]="rowTwoPickedNums.length > 1 && !(rowTwoPickedNums.includes(options.numDex + 1))">{{options.actualNum}}</button>
</ng-template>
