<mat-card class="row col-md-6 mx-auto mb-3 mat-elevation-z6">
  <mat-card-title>Login</mat-card-title>
  <mat-divider inset class="my-3"></mat-divider>
  <mat-card-content>

    <form class="row" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput required class="mat-typography" type="text" placeholder="Enter a username"
               formControlName="userName">
        <mat-error>Invalid username</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput required type="password" placeholder="Enter your password" formControlName="password">
        <mat-error>Invalid password</mat-error>
      </mat-form-field>

      <button mat-flat-button color="primary" class="w-50 mb-3 mx-auto text-uppercase" type="submit">Login</button>
    </form>

  </mat-card-content>
</mat-card>

<div class="spinner-overlay" *ngIf="isLoading$ | async">
  <mat-spinner diameter="50" color="accent"></mat-spinner>
</div>
