<mat-card class="row col-xl-9 m-auto">
  <mat-card-title>Add Combinations</mat-card-title>
  <mat-divider inset class="my-3"></mat-divider>
  <mat-card-content>
    <form [formGroup]="combosFormGroup" (ngSubmit)="onAddCombination()" autocomplete="off">

      <div class="row mb-4">
        <div class="col-12 col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Lottery Name</mat-label>
            <mat-select formControlName="lotteryName" (selectionChange)="onLotterySelect($event)">
              <mat-option *ngFor="let lotto of lotteryNames | keyvalue"
                          value="{{lotto.key}}">{{lotto.value.name}}</mat-option>
            </mat-select>
            <mat-hint>Select a lottery name</mat-hint>
            <mat-error>Invalid lottery name</mat-error>
          </mat-form-field>
        </div>

        <div class="col-12 col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Date</mat-label>
            <!--suppress TypeScriptValidateTypes -->
            <input matInput formControlName="dateAdded" [min]="minDate" [max]="maxDate" placeholder="dd/mm/yyyy"
                   [matDatepicker]="playedDatePicker">
            <mat-datepicker-toggle matSuffix [for]="playedDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #playedDatePicker [touchUi]="(isHandset$ | async)"></mat-datepicker>
            <mat-hint>When were/would these combinations be played?</mat-hint>
            <mat-error>Invalid date</mat-error>
          </mat-form-field>
        </div>
      </div>

      <ng-container *ngIf="allPickedNums.mainNums">
        <mat-card class="mb-2" *ngFor="let row of allPickedNums.mainNums">
          <mat-card-content>
          <span *ngFor="let num of row">
            <ng-container
              *ngTemplateOutlet="numbersSvg; context: {$implicit: {number: num, bgFill: '#ffd740'}}"></ng-container>
          </span>
          </mat-card-content>
        </mat-card>
      </ng-container>

      <div class="row mb-3" *ngIf="lotteryNameSelected.mainNums">
        <div class="col-12 col-md-6 justify-content-center">
          <button mat-mini-fab type="button" class="m-1" color="primary"
                  (click)="onNumClick(num, $event.currentTarget)"
                  *ngFor="let num of lotteryNameSelected.mainNums">{{num}}</button>
        </div>
        <div class="col-12 col-md-6" *ngIf="currPickedNums.mainNums.length > 0">
          <div class="row">
            <div class="col-12">
              <ng-container *ngFor="let num of currPickedNums.mainNums">
                <ng-container
                  *ngTemplateOutlet="numbersSvg; context: {$implicit: {number: num, bgFill: '#ffd740'}}"></ng-container>
              </ng-container>
            </div>
            <div class="col-12 p-2 justify-content-end text-end">
              <button mat-flat-button type="button" color="warn" class="text-uppercase"
                      (click)="currPickedNums.mainNums = []">
                Clear
              </button>
              <button mat-flat-button type="button" color="primary" class="ms-2 text-uppercase"
                      (click)="onAddCombination()"
                      *ngIf="currPickedNums.mainNums.length >= lotteryNameSelected.standard">
                Add
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center my-3">
        <button mat-flat-button type="submit" color="primary" class="w-50 text-uppercase">
          Save
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<ng-template #numbersSvg let-options>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40" height="40"
       style="margin: 0.25rem 0.25rem 0 0.25rem; border-radius: 50%;
       box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%)">
    <style>
      .textNum {
        font: 400 1.1rem 'Roboto Mono', monospace;
        fill: #343a40;
      }
    </style>
    <g>
      <circle r="20" cx="20" cy="20" [ngStyle]="{'fill': options.bgFill}"></circle>
      <text x="20" y="26" text-anchor="middle" class="textNum">{{options.number}}</text>
    </g>
  </svg>
</ng-template>
