<mat-card class="row col-xl-8 mx-auto mb-3 mat-elevation-z6">
  <mat-card-title>Account</mat-card-title>
  <mat-divider inset class="my-3"></mat-divider>
  <mat-card-content>

    <form [formGroup]="infoForm" (ngSubmit)="onSubmitInfo()">
      <div class="row">
        <div class="col-12 col-md-6">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" type="text">
            <mat-error>Invalid username</mat-error>
          </mat-form-field>
        </div>

        <div class="col-12 col-md-6">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput email formControlName="email" type="email">
            <mat-error>Invalid email</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Given Name</mat-label>
            <input matInput formControlName="givenName" type="text">
            <mat-error>Invalid given name</mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Surname</mat-label>
            <input matInput formControlName="surname" type="text">
            <mat-error>Invalid surname</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Date of Birth</mat-label>
            <input [matDatepicker]="dobPicker" matInput formControlName="dob" type="text">
            <mat-datepicker #dobPicker></mat-datepicker>
            <mat-datepicker-toggle matSuffix [for]="dobPicker" class="datePickerIcon"></mat-datepicker-toggle>
            <mat-error>Invalid date</mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Country</mat-label>
            <mat-select formControlName="country">
              <mat-option *ngFor="let country of countries" value="{{country}}">{{country}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 mx-auto">
          <button mat-flat-button class="w-100" color="primary" type="submit">Update</button>
        </div>
      </div>
    </form>

    <mat-divider inset class="my-4"></mat-divider>

    <form [formGroup]="passwordsForm" (ngSubmit)="onSubmitPasswords()">
      <div class="row row-cols-1 row-cols-md-2 justify-content-center mb-4">
        <div class="col-8 col-md-4">
          <button mat-flat-button type="button" class="w-100" [color]="disablePasswordControls ? 'primary': 'warn'"
                  (click)="showPasswordControls()">
            {{disablePasswordControls ? 'Change Password' : 'Cancel'}}
          </button>
        </div>
        <div class="col-8 col-md-4" *ngIf="!disablePasswordControls">
          <button mat-flat-button type="submit" class="w-100" color="primary">Update Password</button>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Current Password</mat-label>
            <input matInput required formControlName="currentPassword" type="password">
            <mat-error>Invalid current password</mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>New Password</mat-label>
            <input matInput required formControlName="newPassword" type="password">
            <mat-error>Invalid new password</mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Confirm Password</mat-label>
            <input matInput required formControlName="repeatPassword" type="password">
            <mat-error>Invalid repeat password</mat-error>
          </mat-form-field>
        </div>
      </div>

    </form>
  </mat-card-content>
</mat-card>
