<mat-card>
  <mat-card-title>Terms of Use</mat-card-title>
  <mat-divider class="my-3" inset></mat-divider>
  <mat-card-content>
    <ol>
      <li>Introduction</li>
      <p>These terms and conditions ("Agreement") set forth the general terms and conditions of your use of the
        www.tracklott.usualapps.com applications ("Web App", "Mobile App", "Application" or "Service") and any of its
        related products and services (collectively, "Services"). This Agreement is legally binding between you ("User",
        "Member" or "your") and the Application Operator ("Operator", "Developer", "we", "us" or "our"). By accessing
        and using the Application and Services, you acknowledge that you have read, understood, and agree to be bound by
        the terms of this Agreement. If you are entering into this Agreement on behalf of a business or other legal
        entity, you represent that you have the authority to bind such entity to this Agreement, in which case the terms
        "User", "Member", "you" or "your" shall refer to such entity. If you do not have such authority, or if you do
        not agree with the terms of this Agreement, you must not accept this Agreement and may not access and use this
        Application and its services. You acknowledge that this Agreement is a contract between you and the Operator,
        even though it is electronic and is not physically signed by you, and it governs your use of the Application and
        Services.</p>

      <li>Disclaimer</li>
      <p>This Application has been developed only to showcase the Operator's programming skills and acts as a portfolio.
        Any information displayed on this Application should only be viewed in a light-hearted manner. Any numbers
        predicted on this Application are generated programmatically and for recreational purposes. The Operator has no
        control over the numbers being predicted and numbers that are being drawn in real-world lottery games. Web pages
        such as "Delta Numbers Game" or "Lucky Numbers" are only designed to add content to the Application. Any numbers
        or combination of numbers predicted must not be taken seriously.</p>

      <li>Accounts and Membership</li>
      <p>You must be at least 18 years of age to use this Application and its services. By using the Application and by
        agreeing to this Agreement you warrant and represent that you are at least 18 years of age. If you create an
        account on the Application, you are responsible for maintaining the security of your account and you are fully
        responsible for all activities that occur under the account and any other actions taken in connection with it.
        We may, but have no obligation to, monitor and review new accounts before you may sign in and start using the
        Services. You must immediately notify us of any unauthorized uses of your account or any other breaches of
        security. We will not be liable for any acts or omissions by you, including any damages of any kind incurred as
        a result of such acts or omissions. We may suspend, disable, or delete your account (or any part thereof) if we
        determine that you have violated any provision of this Agreement or that your conduct or content would tend to
        damage our reputation and goodwill. If we delete your account for the foregoing reasons, you may not re-register
        for our Services. We may block your email address and Internet Protocol (IP) Address to prevent further
        registration.</p>

      <li>Links to Other Resources</li>
      <p>Although the Application and Services may link to other resources (such as Applications, mobile applications,
        etc.), we are not, directly or indirectly, implying any approval, association, sponsorship, endorsement, or
        affiliation with any linked resource, unless specifically stated herein. We are not responsible for examining or
        evaluating, and we do not warrant the offerings of, any businesses or individuals or the content of their
        resources. We do not assume any responsibility or liability for the actions, products, services, and content of
        any other third parties. You should carefully review the legal statements and other conditions of use of any
        resource which you access through a link on this Application and its services. Your linking to any other
        off-site resources is at your own risk.</p>

      <li>Prohibited Uses</li>
      <p>In addition to other terms as set forth in the Agreement, you are prohibited from using the Application and
        Services or Content:
      <ul>
        <li>for any unlawful purpose;</li>
        <li>to solicit others to perform or participate in any unlawful acts;</li>
        <li>to violate any international, federal, provincial or state regulations, rules, laws, or local ordinances;
        </li>
        <li>to infringe upon or violate our intellectual property rights or the intellectual property rights of
          others;
        </li>
        <li>to harass, abuse, insult, harm, defame, slander, disparage, intimidate, or discriminate based on gender,
          sexual orientation, religion, ethnicity, race, age, national origin, or disability;
        </li>
        <li>to submit false or misleading information;</li>
        <li>to upload or transmit viruses or any other type of malicious code that will or may be used in any way that
          will affect the functionality or operation of the Application and Services, third party products and services,
          or the Internet;
        </li>
        <li>to spam, phish, pharm, pretext, spider, crawl, or scrape;</li>
        <li>for any obscene or immoral purpose;</li>
        <li>to interfere with or circumvent the security features of this Application and its services, third party
          products
          and services, or the Internet. We reserve the right to terminate your use of the Application and Services for
          violating any of the prohibited uses.
        </li>
      </ul>

      <li>Severability</li>
      <p>All rights and restrictions contained in this Agreement may be exercised and shall be applicable and binding
        only to the extent that they do not violate any applicable laws and are intended to be limited to the extent
        necessary so that they will not render this Agreement illegal, invalid or unenforceable. If any provision or
        portion of any provision of this Agreement shall be held to be illegal, invalid or unenforceable by a court of
        competent jurisdiction, the parties intend that the remaining provisions or portions thereof shall constitute
        their agreement to the subject matter hereof, and all such remaining provisions or portions thereof shall remain
        in full force and effect.</p>

      <li>Dispute Resolution</li>
      <p>The formation, interpretation, and performance of this Agreement and any disputes arising out of it shall be
        governed by the substantive and procedural laws of Victoria, Australia without regard to its rules on conflicts
        or choice of law and, to the extent applicable, the laws of Australia. The exclusive jurisdiction and venue for
        actions related to the subject matter hereof shall be the courts located in Victoria, Australia, and you hereby
        submit to the personal jurisdiction of such courts. You hereby waive any right to a jury trial in any proceeding
        arising out of or related to this Agreement. The United Nations Convention on Contracts for the International
        Sale of Goods does not apply to this Agreement.</p>

      <li>Liability and Warranty</li>
      <p>
        This application and its services are licensed under the terms of the GNU GPLv3 license. For more information
        click <a class="link-secondary" routerLink="/license">here</a>.
      </p>

      <li>Changes and Amendments</li>
      <p>We reserve the right to modify this Agreement or its terms relating to the Application and Services at any
        time, effective upon posting of an updated version of this Agreement on the Application. When we do, we will
        post a notification on the main page of the Application. Continued use of this Application and its services
        after any such changes shall constitute your consent to such changes.
      </p>

      <li>Acceptance of these Terms</li>
      <p>You acknowledge that you have read this Agreement and agree to all its terms and conditions. By accessing and
        using the Application and its services you agree to be bound by this Agreement. If you do not agree to abide by
        the terms of this Agreement, you are not authorized to access or use the Application and its services.</p>

      <div class="w-100 text-end">
        <small>Last updated on April 15, 2022</small><br>
        <small>This agreement was created with <em>www.ApplicationPolicies.com</em></small></div>
    </ol>
  </mat-card-content>
</mat-card>
