<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer fixedInViewport="false" [attr.role]="'dialog'" [mode]="'over'" [opened]="false">
    <mat-toolbar color="primary">TrackLott</mat-toolbar>
    <mat-nav-list *ngIf="(isHandset$ | async)">
      <a mat-list-item class="text-uppercase" [routerLink]="'/home'">Home</a>

      <a mat-list-item class="text-uppercase" [routerLink]="'/add'">Add</a>

      <a mat-list-item class="text-uppercase" [routerLink]="'/play'">Play</a>

      <mat-divider></mat-divider>

      <ng-container *ngIf="!userLoggedIn; else sideLinkNotShow">
        <a mat-list-item class="text-uppercase" [routerLink]="'user/login'">Login</a>

        <a mat-list-item class="text-uppercase" [routerLink]="'user/register'">Register</a>
      </ng-container>

      <ng-template #sideLinkNotShow>
        <a mat-list-item class="text-uppercase" [routerLink]="'user/account'">Account</a>

        <a mat-list-item class="text-uppercase" (click)="logout()">Logout</a>
      </ng-template>

      <mat-divider></mat-divider>

      <a mat-list-item class="text-uppercase" [routerLink]="'/license'">License</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="mat-elevation-z6 main-mat-toolbar">

      <button mat-icon-button type="button" aria-label="Toggle Sidenav" (click)="drawer.toggle()"
              *ngIf="(isHandset$ | async)">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <a mat-button color="accent" class="navBrand" [routerLink]="'/home'">TrackLott</a>

      <ng-container *ngIf="!(isHandset$ | async)">
        <a mat-button class="text-uppercase" [routerLink]="'/home'">Home</a>

        <a mat-button class="text-uppercase" [routerLink]="'/add'">Add</a>

        <a mat-button class="text-uppercase" [routerLink]="'/play'">Play</a>

        <a mat-button class="text-uppercase" [routerLink]="'/license'">License</a>

        <span class="space-div"></span>

        <ng-container *ngIf="!userLoggedIn; else linkNotShow">
          <a mat-button class="text-uppercase" [routerLink]="'user/login'">Login</a>

          <a mat-button class="text-uppercase" [routerLink]="'user/register'">Register</a>
        </ng-container>

        <ng-template #linkNotShow>
          <a mat-button class="text-uppercase" [routerLink]="'user/account'">Account</a>

          <a mat-button class="text-uppercase" (click)="logout()">Logout</a>
        </ng-template>
      </ng-container>
    </mat-toolbar>

    <ng-content></ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>
