<mat-card class="w-lg-60 mx-auto">
  <mat-card-title>Forgot Password</mat-card-title>
  <mat-divider inset class="my-3"></mat-divider>
  <mat-card-content>
    <mat-card-subtitle>Enter your email address and we will send you a password reset link.</mat-card-subtitle>
    <form #forgotForm="ngForm" (ngSubmit)="onForgotSubmit(forgotForm)">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Email address</mat-label>
        <input matInput email name="email" placeholder="user@example.com" type="email" ngModel required>
        <mat-error>Invalid email</mat-error>
      </mat-form-field>
      <div class="text-center">
        <button mat-flat-button color="primary" class="px-5" type="submit">Reset Password</button>
      </div>
    </form>
  </mat-card-content>
  <div class="text-center mb-3">
    <span>Not a member? </span>
    <a class="link-primary text-decoration-none" [routerLink]="appRoute.registerAbs">Register</a>
  </div>
</mat-card>
