<mat-card class="row col-xl-9 mx-auto mb-3 mat-elevation-z6">
  <mat-card-title>{{greeting}}</mat-card-title>
  <mat-divider class="my-3" inset></mat-divider>
  <mat-card-content>
    <p>Have you ever wondered if you had played those winning lottery numbers ever before?</p>
    <p>With TrackLott, now you can know for sure.</p>
    <p>
      Additionally, save your old lottery tickets, and TrackLott will match all your previously selected number
      combinations with
      recently drawn game. TrackLott can help you find out your lucky numbers by matching number combinations that
      you have previously selected.
    </p>
    <p>
      And, play the lotto game to find out possible winning numbers and add them to your combinations.
    </p>
  </mat-card-content>
</mat-card>

<app-latest-lotto-result></app-latest-lotto-result>
