<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false" [attr.role]="'dialog'" [mode]="'over'"
               [opened]="false">
    <mat-toolbar color="primary">TrackLott</mat-toolbar>
    <mat-nav-list *ngIf="(isHandsetPortrait$ | async)">
      <a mat-list-item class="text-uppercase" [routerLink]="'/home'">Home</a>

      <a mat-list-item class="text-uppercase" [routerLink]="'/add'">Add</a>

      <a mat-list-item class="text-uppercase" [routerLink]="'/play'">Play</a>

      <mat-divider></mat-divider>

      <ng-container *ngIf="!userLoggedIn; else sideLinkNotShow">
        <a mat-list-item class="text-uppercase" [routerLink]="'account/login'">Sign In</a>

        <a mat-list-item class="text-uppercase" [routerLink]="'account/register'">Sign Up</a>
      </ng-container>

      <ng-template #sideLinkNotShow>
        <a mat-list-item class="text-uppercase" [routerLink]="'account/profile'">Account</a>

        <a mat-list-item class="text-uppercase" (click)="logout()">Sign Out</a>
      </ng-template>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="mat-elevation-z6">
      <button mat-icon-button type="button" aria-label="Toggle Sidenav" (click)="drawer.toggle()"
              *ngIf="(isHandsetPortrait$ | async)">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <a mat-button color="accent" class="navBrand" [routerLink]="'/home'">TrackLott</a>

      <ng-container *ngIf="!(isHandsetPortrait$| async)">
        <a mat-button class="text-uppercase" [routerLink]="'/home'">Home</a>

        <a mat-button class="text-uppercase" [routerLink]="'/add'">Add</a>

        <a mat-button class="text-uppercase" [routerLink]="'/play'">Play</a>

        <span class="space-div"></span>

        <a mat-button class="text-uppercase" [routerLink]="'account/login'" *ngIf="!userLoggedIn; else linkNotShow">
          Sign In
        </a>

        <a mat-button class="text-uppercase" [routerLink]="'account/register'" *ngIf="!userLoggedIn; else linkNotShow">
          Sign Up
        </a>

        <ng-template #linkNotShow>
          <a mat-button class="text-uppercase" [routerLink]="'account/profile'">Account</a>

          <a mat-button class="text-uppercase" (click)="logout()">Sign Out</a>
        </ng-template>
      </ng-container>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
